
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background-color: lightgray;
            color: black;
        }
        .navbar{
            background: black;
        }
        .navbar input[type=text] {
            float: right;
            padding: 6px;
            margin-top: 8px;
            margin-right: 16px;
            border: none;
            font-size: 17px;
          }

        header {
            height: 100vh;
            color: black;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        header h1 {
            font-size: 4rem;
            margin: 0;
        }
        .one h2{
            font-size: 25px;
            color: gray;
        }
        .one .brand{
            font-weight: bold;
            color: red;
            font-size: 25px;
            margin-left: 15px;

        }
        .img{
            
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 20px;
                padding: 20px;
                justify-items: center;
                background-color: #fff;
                margin:  auto;
                max-width: 1200px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
            
        }
        .bike{
            text-align: center;
        }
        
        header p {
            font-size: 1.5rem;
            margin: 10px 0 20px;
        }
        header a {
            text-decoration: none;
            background-color: red;
            color: white;
            padding: 15px 30px;
            border-radius: 25px;
            font-size: 1.2rem;
            transition: background-color 0.3s;
        }
        header a:hover {
            background-color: rgb(232, 72, 72);
        }
        section.features {
            display: flex;
            flex-wrap: wrap;
            padding: 50px 10%;
            justify-content: space-between;
        }
        .feature {
            flex: 1 1;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 10px;
            background: white;
            border-radius: 10px;
            text-align: center;
            transition: transform 0.3s;
        }
        .feature:hover {
            background:lightblue;
        }
        
        .btn{
            text-decoration: none;
            border-radius: 15px;
            padding: 12px;
            background-color: rgb(109, 232, 72);
        }
        
        footer {
            text-align: center;
            padding: 20px;
            background-color: gray;
            color: white;
        }
